{
  "presets": [ "es2015", "stage-2",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "debug": false
      }
    ],
    "babel-preset-react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-runtime",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
