/* body {
  height: 100vh;
  background: linear-gradient(to bottom, #FD8271 , #A62824);
  font-family: 'Khula', sans-serif;
  color: #2f2f2f;
  overflow: hidden;
  margin: 0 8px;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container {
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
  height: 90%;
  padding: 10px;
  flex: 1;
}

.inner-container {
  height: 100%;
  overflow: hidden;
} */
