.marginInput {
  width: 100%;
}

ons-input .text-input {
  margin-top: 10px;
}

ons-input span {
  margin-top: 10px;
}

.marginButton {
  margin-top: 30px;
}

.form-register {
  text-align: center;
  margin-top: 50%;
  padding: 15px 15px;
}
